In [4]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
import fastparquet

In [4]:
fastparquet.__version__

'2024.11.0'

In [5]:
df = pd.read_parquet("yellow_tripdata_2025-01.parquet")

In [6]:
df.to_csv("yellow_tripdata_2025-01.csv", index=False)

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.00,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.00
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.10,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.00
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.10,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.00
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.20,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.00
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.80,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,15.85,0.0,0.5,0.00,0.0,1.0,20.60,NaN,NaN,0.75
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,28.14,0.0,0.5,0.00,0.0,1.0,32.89,NaN,NaN,0.75
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,14.91,0.0,0.5,0.00,0.0,1.0,19.66,NaN,NaN,0.75
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,17.55,0.0,0.5,0.00,0.0,1.0,22.30,NaN,NaN,0.75
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,12.09,0.0,0.5,0.00,0.0,1.0,16.09,NaN,NaN,0.00

In [ ]:
pip install sqlalchemy

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [10]:
engine.connect()

In [12]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data", con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [13]:
df_iter = pd.read_csv("yellow_tripdata_2025-01.csv", iterator=True, chunksize=100000)

In [14]:
df = next(df_iter)

In [15]:
len(df)

100000

In [16]:
%time df.to_sql(name = "yellow_taxi_data", con=engine, if_exists = "replace")

CPU times: total: 5.41 s
Wall time: 9.81 s

1000

In [17]:
from time import time

In [18]:
while True:
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name = "yellow_taxi_data", con=engine, if_exists = "append")

    t_end = time()

    print("inserted another chunk, took %.3f seconds" %(t_end - t_start))

inserted another chunk, took 10.611 seconds
inserted another chunk, took 10.684 seconds
inserted another chunk, took 10.802 seconds
inserted another chunk, took 10.951 seconds
inserted another chunk, took 10.538 seconds
inserted another chunk, took 10.649 seconds
inserted another chunk, took 10.251 seconds
inserted another chunk, took 10.131 seconds
inserted another chunk, took 10.325 seconds
inserted another chunk, took 9.853 seconds
inserted another chunk, took 10.213 seconds
inserted another chunk, took 10.464 seconds
inserted another chunk, took 10.868 seconds
inserted another chunk, took 10.249 seconds
inserted another chunk, took 11.211 seconds
inserted another chunk, took 10.613 seconds
inserted another chunk, took 10.949 seconds
inserted another chunk, took 10.768 seconds
inserted another chunk, took 10.219 seconds
inserted another chunk, took 10.703 seconds
inserted another chunk, took 10.430 seconds
inserted another chunk, took 10.212 seconds
inserted another chunk, took 10.449 seconds
inserted another chunk, took 10.303 seconds
inserted another chunk, took 10.753 seconds
inserted another chunk, took 11.112 seconds
inserted another chunk, took 11.494 seconds
inserted another chunk, took 11.335 seconds

C:\Users\isauk\AppData\Local\Temp\ipykernel_12008\3050793018.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.515 seconds
inserted another chunk, took 11.066 seconds
inserted another chunk, took 10.427 seconds
inserted another chunk, took 10.617 seconds
inserted another chunk, took 10.796 seconds
inserted another chunk, took 8.043 seconds

StopIteration:

In [6]:
url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"
df_zones = pd.read_csv(url)
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
df_zones.to_sql(name = 'zones', con=engine, if_exists='replace')

265